
certbot==0.40.0
certbot-nginx==0.40.0
requests==2.22.0
dialogflow==1.1.0

google-api-core==1.26.3
google-auth==1.29.0
googleapis-common-protos==1.53.0


python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-firebase==1.2
python-git==2018.2.1
python-telegram-bot==13.4.1

requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0

ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0

